#logo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-bar:hover{
    opacity: .5;
}


#footer{
    background-color: black;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.price-tag{
    background-color: chartreuse;
    color: #fff;
    border-radius: 25px;
    width: 3rem;
    text-align: center;
}